header {
  color: var(--color5);
  height: 40px;
  background-color: mistyrose;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: 'Space Mono', monospace;
  padding: 10px;
  font-size: large;
}
